<section class="text-gray-900 dark:text-gray-400 body-font bg-gray-200 dark:bg-gray-900">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 dark:text-white">Hola, Soy Marx Alonso :D</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-900 dark:text-gray-400 text-opacity-90">
        Los lenguajes de programación son esenciales para el desarrollo de todo tipo de software, desde aplicaciones móviles hasta sitios web y videojuegos. Con opciones como Python, JavaScript, y C++, cada lenguaje ofrece ventajas únicas y se adapta a diversas necesidades. Aprender a programar no solo abre puertas a oportunidades profesionales, sino que también mejora habilidades de pensamiento lógico y resolución de problemas. Descubre el poder de la programación y cómo puede transformar tus ideas en realidad.
      </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <a routerLink="/Framework/astro">
          <div class="bg-gray-300 dark:bg-gray-800 bg-opacity-40 p-6 rounded-lg hover:bg-gray-400 dark:hover:bg-gray-700">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../assets/images/astro.png" alt="content">
            <h3 class="tracking-widest text-indigo-400 text-xs font-medium title-font">FRAMEWORK</h3>
            <h2 class="text-lg text-black dark:text-white font-medium title-font mb-4">Astro</h2>
            <p class="leading-relaxed text-base">Astro es un moderno framework de desarrollo web que permite crear sitios rápidos y eficientes. Utiliza un enfoque de "islas de JavaScript" para optimizar el rendimiento, cargando solo el JavaScript necesario en cada página.</p>
          </div>
        </a>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <a routerLink="/Framework/angular">
          <div class="bg-gray-300 dark:bg-gray-800 bg-opacity-40 p-6 rounded-lg hover:bg-gray-400 dark:hover:bg-gray-700">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../assets/images/angular.png" alt="content">
            <h3 class="tracking-widest text-indigo-400 text-xs font-medium title-font">FRAMEWORK</h3>
            <h2 class="text-lg text-black dark:text-white font-medium title-font mb-4">Angular 17</h2>
            <p class="leading-relaxed text-base">Angular 17 es la última versión del popular framework de desarrollo web de Google. Ofrece mejoras en rendimiento, herramientas de desarrollo más avanzadas y soporte para las últimas características de JavaScript. Ideal para construir aplicaciones web dinámicas y escalables.</p>
          </div>
        </a>  
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <a routerLink="/Framework/react">
          <div class="bg-gray-300 dark:bg-gray-800 bg-opacity-40 p-6 rounded-lg hover:bg-gray-400 dark:hover:bg-gray-700">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../assets/images/react.png" alt="content">
            <h3 class="tracking-widest text-indigo-400 text-xs font-medium title-font">FRAMEWORK</h3>
            <h2 class="text-lg text-black dark:text-white font-medium title-font mb-4">React</h2>
            <p class="leading-relaxed text-base">React es una biblioteca de JavaScript desarrollada por Facebook para construir interfaces de usuario. Es conocida por su eficiencia, flexibilidad y capacidad para crear aplicaciones web dinámicas con componentes reutilizables.</p>
          </div>
        </a>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <a routerLink="/Framework/laravel">
          <div class="bg-gray-300 dark:bg-gray-800 bg-opacity-40 p-6 rounded-lg hover:bg-gray-400 dark:hover:bg-gray-700">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../assets/images/laravel.png" alt="content">
            <h3 class="tracking-widest text-indigo-400 text-xs font-medium title-font">FRAMEWORK</h3>
            <h2 class="text-lg text-black dark:text-white font-medium title-font mb-4">Laravel 11</h2>
            <p class="leading-relaxed text-base">Laravel 11 es la última versión del popular framework de PHP. Ofrece características avanzadas como mejoras en el rendimiento, soporte para componentes modernos, y herramientas robustas para el desarrollo ágil de aplicaciones web.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <button routerLink="/contact" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Contacto</button>
</section>
